/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 17, ../sass/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../sass/style.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 27, ../sass/style.scss */
audio:not([controls]), [hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 40, ../sass/style.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
  color: #222;
}

/* line 48, ../sass/style.scss */
button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 53, ../sass/style.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* line 66, ../sass/style.scss */
::-moz-selection, ::selection {
  background: #4ABCE4;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 76, ../sass/style.scss */
a {
  color: #0D83DD;
  text-decoration: none !important;
}
/* line 79, ../sass/style.scss */
a:visited {
  color: #0D83DD;
}
/* line 82, ../sass/style.scss */
a:hover {
  color: #06e;
}
/* line 85, ../sass/style.scss */
a:focus {
  outline: thin dotted;
}
/* line 88, ../sass/style.scss */
a:hover, a:active {
  outline: 0;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* =============================================================================
   Typography
   ========================================================================== */
/* line 99, ../sass/style.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 103, ../sass/style.scss */
b, strong {
  font-weight: bold;
}

/* line 107, ../sass/style.scss */
blockquote {
  margin: 1em 40px;
}

/* line 111, ../sass/style.scss */
dfn {
  font-style: italic;
}

/* line 115, ../sass/style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 124, ../sass/style.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 130, ../sass/style.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 139, ../sass/style.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 147, ../sass/style.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 153, ../sass/style.scss */
q {
  quotes: none;
}
/* line 155, ../sass/style.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 161, ../sass/style.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 167, ../sass/style.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 174, ../sass/style.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 182, ../sass/style.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 190, ../sass/style.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 195, ../sass/style.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 200, ../sass/style.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 217, ../sass/style.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 227, ../sass/style.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 235, ../sass/style.scss */
figure, form {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 243, ../sass/style.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 251, ../sass/style.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 260, ../sass/style.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 273, ../sass/style.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 284, ../sass/style.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 294, ../sass/style.scss */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 301, ../sass/style.scss */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 312, ../sass/style.scss */
button[disabled] {
  cursor: default;
}

/* line 317, ../sass/style.scss */
input[disabled] {
  cursor: default;
}
/* line 320, ../sass/style.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
/* line 326, ../sass/style.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 331, ../sass/style.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Consistent box sizing and appearance
 */
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 345, ../sass/style.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 355, ../sass/style.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 365, ../sass/style.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 373, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 378, ../sass/style.scss */
td {
  vertical-align: top;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
/* line 386, ../sass/style.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* ==|== primary styles =====================================================
   Author: Manuel Rivera
   ========================================================================== */
/*//////////////////////*/
/*FUENTES*/
/* FUENTE PERSONAL*/
@font-face {
  font-family: "BebasNeue";
  src: url(fonts/BebasNeue.otf);
}

/* ayuda*/
/* line 409, ../sass/style.scss */
.rojo {
  background-color: red;
}

/* line 413, ../sass/style.scss */
.azul {
  background-color: blue;
}

/* line 417, ../sass/style.scss */
.gray {
  background-color: gray;
}

/* line 421, ../sass/style.scss */
ul li a:hover {
  color: #19a9e5;
}

/* line 425, ../sass/style.scss */
nav ul {
  margin: 0;
  font-size: 0px;
}

/* line 430, ../sass/style.scss */
body {
  background-color: #f0f7fc;
}

/* line 434, ../sass/style.scss */
footer {
  background: url(../img/body_bg.jpg) repeat;
}

/* MENU */
/* line 441, ../sass/style.scss */
#menu ul li {
  display: inline-block;
  height: 45px;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  vertical-align: top;
  width: 20%;
  text-transform: uppercase;
  /* transicion*/
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
/* line 454, ../sass/style.scss */
#menu ul li a {
  color: white;
  font-family: Arial;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
/* line 459, ../sass/style.scss */
#menu ul li:hover {
  background-color: #4ABCE4;
}
/* line 463, ../sass/style.scss */
#menu figure img {
  padding-top: 0 !important;
}
/* line 465, ../sass/style.scss */
#menu figure img:hover {
  -webkit-animation: rotateLogo 0.8s 1;
  -moz-animation: rotateLogo 0.8s 1;
  -o-animation: rotateLogo 0.8s 1;
  -ms-animation: rotateLogo 0.8s 1;
}

@-webkit-keyframes rotateLogo {
  /* line 475, ../sass/style.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 478, ../sass/style.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotateLogo {
  /* line 485, ../sass/style.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 488, ../sass/style.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotateLogo {
  /* line 495, ../sass/style.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 498, ../sass/style.scss */
  to {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes rotateLogo {
  /* line 505, ../sass/style.scss */
  from {
    -ms-transform: rotate(0deg);
  }

  /* line 508, ../sass/style.scss */
  to {
    -ms-transform: rotate(360deg);
  }
}

/* line 514, ../sass/style.scss */
#cont_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: url(../img/bgbanner.jpg) repeat-x;
}

/* line 523, ../sass/style.scss */
#logo {
  /*background-color:rgb(47,53,62);*/
  /* background: url(../img/background-public-body.png) repeat-x;*/
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

/* 4 CIRCULOS */
/* line 533, ../sass/style.scss */
#items {
  text-align: center;
  font-size: 0;
  margin: auto;
  padding-top: 20px;
  /*background-color: red;*/
}
/* line 539, ../sass/style.scss */
#items .item {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  text-align: center;
}
/* line 544, ../sass/style.scss */
#items .item img {
  margin-bottom: 10px;
}
/* line 547, ../sass/style.scss */
#items .item:hover img {
  -o-animation-duration: .3s;
  -ms-animation-duration: .3s;
  -moz-animation-duration: .3s;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -o-animation-name: item;
  -ms-animation-name: item;
  -moz-animation-name: item;
  -webkit-animation-name: item;
  animation-name: item;
  /*rebotes*/
  -o-animation-iteration-count: 4;
  -ms-animation-iteration-count: 4;
  -moz-animation-iteration-count: 4;
  -webkit-animation-iteration-count: 4;
  animation-iteration-count: 4;
}
/* line 565, ../sass/style.scss */
#items .item .box-item {
  float: left;
  width: 25%;
}

/*
#items .item h3{
  color: #009ada;
  font-size:11px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom:10px;
}*/
@-moz-keyframes item {
  /* line 581, ../sass/style.scss */
  50% {
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  /* line 588, ../sass/style.scss */
  100% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes item {
  /* line 599, ../sass/style.scss */
  50% {
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  /* line 606, ../sass/style.scss */
  100% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes item {
  /* line 617, ../sass/style.scss */
  50% {
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  /* line 624, ../sass/style.scss */
  100% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes item {
  /* line 635, ../sass/style.scss */
  50% {
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  /* line 642, ../sass/style.scss */
  100% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes item {
  /* line 653, ../sass/style.scss */
  50% {
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  /* line 660, ../sass/style.scss */
  100% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*  CONTENIDO */
/* line 672, ../sass/style.scss */
#barra_contenido {
  color: #404040;
  background-color: #f0f7fc;
  /*padding-bottom: 10px;*/
}

/* line 678, ../sass/style.scss */
#fondo {
  background: #def1fa url(../img/bgHeroHome.jpg) repeat-x center 100%;
  display: block;
  padding-top: 90px;
}
/* line 682, ../sass/style.scss */
#fondo .nivel1 {
  background: url(../img/icons-home.png) no-repeat center 100%;
}
/* line 685, ../sass/style.scss */
#fondo .nivel2 {
  background: url(../img/clouds-home.png) no-repeat center 100%;
  top: 189px;
  width: 100%;
}

/* line 692, ../sass/style.scss */
#slide, #barra_derecha {
  height: 317px;
  margin-top: 20px;
}

/* line 697, ../sass/style.scss */
.barra_d h3 {
  color: #383838;
  font-family: "Helvetica", arial, serif;
  font-size: 24px;
  margin: 0;
  padding-bottom: 0px;
  text-align: center;
}

/* line 706, ../sass/style.scss */
#barra_derecha span {
  color: white;
  padding: 20px 0 0 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

/* CONTACTO PEQUENO*/
/* line 718, ../sass/style.scss */
#mini_contact {
  text-align: center;
  /* box-shadow: 0 5px 10px gray ; */
}
/* line 721, ../sass/style.scss */
#mini_contact div {
  height: 70px;
}
/* line 724, ../sass/style.scss */
#mini_contact #dnombre {
  background-color: #7cb8e3;
}
/* line 727, ../sass/style.scss */
#mini_contact #demail {
  background-color: #8dc1e7;
}
/* line 730, ../sass/style.scss */
#mini_contact #dasunto {
  background-color: #aed3ee;
}
/* line 733, ../sass/style.scss */
#mini_contact #dmensaje {
  background-color: #e1eff8;
}
/* line 735, ../sass/style.scss */
#mini_contact #dmensaje textarea {
  height: 50px;
}
/* line 739, ../sass/style.scss */
#mini_contact #despacio {
  background-color: #2985c6;
  color: #fff;
}
/* line 742, ../sass/style.scss */
#mini_contact #despacio span {
  color: #fff;
}
/* line 746, ../sass/style.scss */
#mini_contact input, #mini_contact textarea {
  background: #fff;
  border-radius: 5px;
  border: 3px solid white;
  height: 30px;
  margin-top: 10px;
  padding: 0 10px;
  width: 200px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  outline: 0;
  /* transiciones*/
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 765, ../sass/style.scss */
#mini_contact input:focus, #mini_contact textarea:focus {
  border-color: #0080FF;
}
/* line 768, ../sass/style.scss */
#mini_contact #button_contact {
  background-color: #b9dc2f;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  /*  padding: 20px; */
  text-transform: uppercase;
  text-shadow: 1px 1px #679b1f;
}
/* line 780, ../sass/style.scss */
#mini_contact input[type="submit"] {
  border: 0;
  border-radius: 0;
  width: 100%;
  height: 70px !important;
  margin-top: 0;
}

/* line 790, ../sass/style.scss */
#button_contact:hover {
  background-color: #8BA71D;
}
/* line 793, ../sass/style.scss */
#button_contact a {
  color: white;
}

/* line 798, ../sass/style.scss */
#items h1 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

/**/
/* BARRA CONTENIDO DE IDEAS DE LOGO*/
/* line 810, ../sass/style.scss */
#barra_logos {
  font-family: Arial;
  font-size: 16px;
  font-weight: 22px;
  display: block;
}
/* line 815, ../sass/style.scss */
#barra_logos article {
  padding-top: 80px;
}
/* line 818, ../sass/style.scss */
#barra_logos h2 {
  text-align: center;
  font-size: 30px;
  font-family: "BebasNeue", Arial, Helvetica, sans-serif;
  position: relative;
  margin-bottom: 20px;
  color: #003366;
  line-height: 18px;
  font-weight: 200 !important;
  /*padding: 10px;*/
}
/* line 828, ../sass/style.scss */
#barra_logos h2:before {
  content: "";
  position: absolute;
  width: 360px;
  height: 2px;
  background: #9CCCEF;
  left: 0;
  top: 18px;
}
/* line 837, ../sass/style.scss */
#barra_logos h2:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 2px;
  background: #9CCCEF;
  left: 0;
  top: 18px;
  left: auto;
  right: 0;
}
/* line 848, ../sass/style.scss */
#barra_logos h2:before, #barra_logos h2:after {
  width: 260px;
}

/* line 854, ../sass/style.scss */
.large-icons i {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: #231f20;
  display: block;
  line-height: 1.4;
  text-align: center;
  font-size: 100px;
}

@media only screen and (max-device-width: 768px) {
  /* line 867, ../sass/style.scss */
  .large-icons i {
    margin-right: 56px;
  }
}
/* IDEAS*/
/* line 874, ../sass/style.scss */
#idea1 .contenido {
  background-color: white;
  border: 1px solid #cbe3f2;
  font-family: "Open Sans", Arial, sans-serif;
}

/* line 881, ../sass/style.scss */
#idea2 .contenido {
  background-color: white;
  border: 1px solid #cbe3f2;
  font-family: "Open Sans", Arial, sans-serif;
}
/* line 886, ../sass/style.scss */
#idea2.support-box {
  display: block;
}

/* line 891, ../sass/style.scss */
#idea4 .contenido {
  margin-bottom: 50px;
}

/* line 895, ../sass/style.scss */
.ideas {
  /*border-top: 10px solid #b8d30b;*/
  padding: 10px;
}
/* line 898, ../sass/style.scss */
.ideas span {
  font-size: 50px !important;
  line-height: 56px;
  color: #b8d30b;
  margin-top: 30px;
}
/* line 904, ../sass/style.scss */
.ideas p {
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
  border-top: 1px dashed #b8d30b;
  padding-top: 20px;
}

/*desarrollo de ideas*/
/* line 915, ../sass/style.scss */
.ideas2 {
  font-family: "Open Sans", Arial, sans-serif !important;
  width: 296px;
  background: url(../img/person_2.png) no-repeat;
  background-position: left bottom;
  height: 320px;
}
/* line 918, ../sass/style.scss */
.ideas2 span {
  font-size: 18px !important;
  font-weight: bold;
  color: white;
  line-height: 56px;
  background-color: #f16529;
  padding: 5px;
}
/* line 926, ../sass/style.scss */
.ideas2 a {
  color: #0d83dd;
}
/* line 929, ../sass/style.scss */
.ideas2 h4 {
  margin: 0;
}
/* line 932, ../sass/style.scss */
.ideas2 p {
  font-size: 14px;
  line-height: 22px;
}

/* line 941, ../sass/style.scss */
#idea3 #contenido-porta {
  text-align: center;
}
/* line 943, ../sass/style.scss */
#idea3 #contenido-porta section {
  display: inline-block;
  vertical-align: top;
  margin: 10px 5px;
  position: relative;
}
/* line 948, ../sass/style.scss */
#idea3 #contenido-porta section.element {
  border: 5px solid white;
}
/* line 951, ../sass/style.scss */
#idea3 #contenido-porta section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #f0f7fc;
  color: #003366;
  text-align: center;
  opacity: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  -ms-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 969, ../sass/style.scss */
#idea3 #contenido-porta section .overlay h3 {
  /*margin:10px;*/
  color: #003366;
  padding: 80px 20px 0 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
/* line 978, ../sass/style.scss */
#idea3 #contenido-porta section .overlay p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
/* line 984, ../sass/style.scss */
#idea3 #contenido-porta section .overlay:hover {
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=90);
}

/*desarrollo de soporte*/
/* line 995, ../sass/style.scss */
.ideas3 {
  font-family: "Open Sans", Arial, sans-serif !important;
  padding-left: 5px;
  float: left;
}
/* line 999, ../sass/style.scss */
.ideas3 span {
  font-size: 25px !important;
  margin-bottom: 0;
  color: #0d83dd;
  letter-spacing: -1px;
  line-height: 56px;
  padding: 0 10px;
}
/* line 1007, ../sass/style.scss */
.ideas3 p {
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
  text-align: justify;
  padding: 0 10px;
}
/* line 1014, ../sass/style.scss */
.ideas3 .contactus {
  font-size: 14px;
  padding: 0 20px 70px 20px;
}
/* line 1017, ../sass/style.scss */
.ideas3 .contactus a {
  color: #0d83dd;
}

/* line 1023, ../sass/style.scss */
.side-box {
  border: 1px solid #cbe3f2;
  box-shadow: 1px 1px 4px #cce5f7;
  background-color: #fff;
  color: #404040;
  margin-right: 5px;
}

/* line 1031, ../sass/style.scss */
#box-comenzar {
  /* background: url(../img/box_comenzar.png) no-repeat; */
}

/* line 1035, ../sass/style.scss */
.picture_idea2 {
  height: 540px;
  background: url(../img/person_2.png) no-repeat white;
  background-position: 0 200px;
}

/* line 1041, ../sass/style.scss */
#sub_social span {
  color: #d45500;
  font-family: "Averia Sans Libre", cursive;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

/* ICONOS DE INNOVACION  */
/* line 1051, ../sass/style.scss */
.columns {
  margin: 0;
  font-size: 14px;
}
/* line 1054, ../sass/style.scss */
.columns .foundicon-checkmark {
  color: #64b92c;
}
/* line 1057, ../sass/style.scss */
.columns .foundicon-flag {
  color: #d45500;
}
/* line 1060, ../sass/style.scss */
.columns .foundicon-laptop {
  color: #57afe6;
}
/* line 1063, ../sass/style.scss */
.columns .foundicon-tools {
  color: #002750;
}
/* line 1066, ../sass/style.scss */
.columns div {
  display: inline-block;
  margin: 0 20px;
  padding: 10px;
  width: 400px;
}
/* line 1072, ../sass/style.scss */
.columns .services-link {
  display: inline-block;
  font-weight: bold;
  padding-top: 0;
  margin-top: 0;
}
/* line 1078, ../sass/style.scss */
.columns i {
  font-size: 60px;
  color: black;
}

/*clear*/
/* line 1086, ../sass/style.scss */
.clearfix {
  *zoom: 1;
}
/* line 1087, ../sass/style.scss */
.clearfix:before {
  content: "";
  display: table;
}
/* line 1091, ../sass/style.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*////////////////////////////////////////////*/
/* line 1101, ../sass/style.scss */
#barra_clientes {
  height: 184px;
  margin-top: 50px;
}

/* line 1106, ../sass/style.scss */
#barra_abajo {
  min-height: 40px;
  text-align: center;
  padding-top: 10px;
}

/* MENU DE ABAJO */
/* line 1114, ../sass/style.scss */
#menu_inf {
  padding-top: 20px;
}
/* line 1116, ../sass/style.scss */
#menu_inf ul li {
  background: url(../img/footer-bullet.png) no-repeat 0px 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid #4a4a4a;
  color: white;
  height: 25px;
  font-size: 13px;
  padding-top: 2px;
  padding-left: 20px;
  text-align: left;
  vertical-align: top;
  /* transicion*/
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 1131, ../sass/style.scss */
#menu_inf ul li:first-child {
  border-top: none;
}
/* line 1134, ../sass/style.scss */
#menu_inf ul li:last-child {
  border-bottom: none;
}
/* line 1137, ../sass/style.scss */
#menu_inf ul li a {
  color: #bbbaba;
  font-family: Arial;
  font-weight: bold;
}
/* line 1142, ../sass/style.scss */
#menu_inf ul li:hover {
  padding-left: 25px;
}

/* TEXTO DE ABAJO*/
/* line 1150, ../sass/style.scss */
#bottom-text {
  font-size: 13px;
  color: #bbbaba;
}
/* line 1153, ../sass/style.scss */
#bottom-text a {
  color: #AFEAF9;
  text-decoration: none;
}

/* line 1159, ../sass/style.scss */
#barra_nosotros {
  min-height: 184px;
  margin-top: 20px;
}
/* line 1160, ../sass/style.scss */
#barra_nosotros p {
  /* line-height:22px; */
  margin-bottom: 25px;
  padding: 0 10px;
  font-size: 14px;
  color: #404040;
}

/* line 1171, ../sass/style.scss */
#barra_label {
  margin-top: 20px;
}

/* line 1175, ../sass/style.scss */
#barra_nosotros .box_titulo, #barra_label span {
  background-color: #4ABCE4;
}

/* line 1179, ../sass/style.scss */
.box_titulo h3 {
  color: white;
  padding-left: 10px;
  font-family: "Signika", sans-serif;
  font-size: 18px;
  height: 40px;
  margin-top: 0;
  line-height: 23px;
  padding-top: 10px;
  text-transform: uppercase;
}

/* line 1191, ../sass/style.scss */
#barra_label span {
  font: "Open Sans", Arial, sans-serif;
  color: white;
  font-weight: bold;
  padding: 12px;
}
/* line 1196, ../sass/style.scss */
#barra_label span.label1 {
  color: #4ABCE4;
  text-transform: uppercase;
  background-color: transparent !important;
  font-size: 27px;
  line-height: 100px;
}
/* line 1203, ../sass/style.scss */
#barra_label span.label2 {
  font-size: 20px;
}

/* line 1208, ../sass/style.scss */
.page-title {
  overflow: hidden;
  height: 103px;
  margin-bottom: 0px;
  text-shadow: 1px 1px white;
}

/* line 1215, ../sass/style.scss */
.page-footer {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  width: 100%;
}
/* line 1223, ../sass/style.scss */
.page-footer i {
  font-size: 50px;
  color: white;
  /* transicion*/
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
/* line 1230, ../sass/style.scss */
.page-footer i:hover {
  color: #4ABCE4;
}
/* line 1234, ../sass/style.scss */
.page-footer div {
  display: inline-block;
  margin: 0;
}

/* line 1240, ../sass/style.scss */
.title {
  display: block;
  float: left;
  font-family: "Signika", sans-serif;
  font-size: 30px;
  line-height: 103px;
  margin-left: 30px;
  text-transform: uppercase;
  padding-right: 20px;
}

/* line 1251, ../sass/style.scss */
.subtitle {
  display: block;
  padding-left: 30px;
  font-size: 16px;
  margin-top: 4px;
  line-height: 103px;
  color: #929191;
  font-style: italic;
}

/* line 1262, ../sass/style.scss */
#contactForm input, #contactForm textarea {
  color: #606060;
  font-size: 14px;
  width: 380px;
  display: block;
}

/* line 1271, ../sass/style.scss */
#commentform input, #commentform textarea {
  color: #606060;
  font-size: 14px;
  width: 380px;
  display: block;
}

/* line 1280, ../sass/style.scss */
#contactForm input {
  width: 282px;
}
/* line 1283, ../sass/style.scss */
#contactForm .submit {
  color: white;
  float: right;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0px 20px;
  margin: 10px 20px 0 0;
  background: url(../img/button_back.png) top left repeat-x;
}
/* line 1296, ../sass/style.scss */
#contactForm textarea {
  width: 380px;
}

/* Icono de sonrisa al enviar CONTACTO */
/* line 1304, ../sass/style.scss */
#mini_contact .smiley {
  color: #fff;
  font-size: 40px;
}
/* line 1308, ../sass/style.scss */
#mini_contact .parrafo {
  font-size: 17px !important;
  color: #fff;
}

/* line 1314, ../sass/style.scss */
#messageContact {
  color: #0d83dd;
  font-size: 25px;
  margin-bottom: 0;
  letter-spacing: -1px;
  line-height: 56px;
  text-align: center;
  padding: 0 10px;
}

/* line 1324, ../sass/style.scss */
.one-column {
  vertical-align: top;
  width: 438px;
  float: left;
  margin-left: 30px;
  text-align: justify;
}
/* line 1330, ../sass/style.scss */
.one-column span {
  text-align: justify;
}
/* line 1333, ../sass/style.scss */
.one-column a:link {
  color: #4ABCE4;
  font-size: 16px;
  font-style: italic;
}
/* line 1338, ../sass/style.scss */
.one-column strong {
  color: #19a9e5;
}

/* SERVICIOS */
/* line 1345, ../sass/style.scss */
.centr-ang {
  width: 940px;
}
/* line 1347, ../sass/style.scss */
.centr-ang ul {
  display: block;
  padding: 30px 40px 30px 60px;
  min-height: 290px;
}
/* line 1351, ../sass/style.scss */
.centr-ang ul li {
  float: left;
  width: 420px;
  margin-bottom: 30px;
  list-style: none;
}
/* line 1360, ../sass/style.scss */
.centr-ang li a.img {
  float: left;
  display: block;
  width: 121px;
  height: 120px;
  background: url(../img/img1.png) no-repeat 0 0;
  margin: 0 20px 0 0;
}
/* line 1368, ../sass/style.scss */
.centr-ang li a.w1 {
  background-position: 0 0;
}
/* line 1370, ../sass/style.scss */
.centr-ang li a.w1:hover {
  background-position: 0 -480px;
}
/* line 1372, ../sass/style.scss */
.centr-ang li a.w1:hover + div.txt-work a {
  text-decoration: underline;
}
/* line 1379, ../sass/style.scss */
.centr-ang li:hover div.txt-work a {
  text-decoration: underline;
}
/* line 1382, ../sass/style.scss */
.centr-ang li:hover a.w1 {
  background-position: 0 -480px;
}
/* line 1386, ../sass/style.scss */
.centr-ang li a.w2 {
  background-position: 0 -240px;
}
/* line 1388, ../sass/style.scss */
.centr-ang li a.w2:hover {
  background-position: 0 -720px;
}
/* line 1390, ../sass/style.scss */
.centr-ang li a.w2:hover + div.txt-work a {
  text-decoration: underline;
}
/* line 1395, ../sass/style.scss */
.centr-ang li:hover a.w2 {
  background-position: 0 -720px;
}
/* line 1398, ../sass/style.scss */
.centr-ang li a.w3 {
  background-position: 0 -120px;
}
/* line 1400, ../sass/style.scss */
.centr-ang li a.w3:hover {
  background-position: 0 -600px;
}
/* line 1402, ../sass/style.scss */
.centr-ang li a.w3:hover + div.txt-work a {
  text-decoration: underline;
}
/* line 1407, ../sass/style.scss */
.centr-ang li:hover a.w3 {
  background-position: 0 -600px;
}
/* line 1410, ../sass/style.scss */
.centr-ang li a.w4 {
  background-position: 0 -360px;
}
/* line 1412, ../sass/style.scss */
.centr-ang li a.w4:hover {
  background-position: 0 -840px;
}
/* line 1414, ../sass/style.scss */
.centr-ang li a.w4:hover + div.txt-work a {
  text-decoration: underline;
}
/* line 1419, ../sass/style.scss */
.centr-ang li:hover a.w4 {
  background-position: 0 -840px;
}
/* line 1422, ../sass/style.scss */
.centr-ang li .txt-work {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #404040;
  float: left;
  line-height: 22px;
  width: 278px;
}
/* line 1429, ../sass/style.scss */
.centr-ang li .txt-work a {
  font-size: 18px;
  display: block;
  font-weight: bold;
  margin: 10px 0;
  color: #101010;
  line-height: 56px;
}
/* line 1436, ../sass/style.scss */
.centr-ang li .txt-work a:hover {
  text-decoration: underline;
}

/* SOPORTE  */
/* ================================================================*/
/* line 1449, ../sass/style.scss */
#articles section, #articles aside {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
}
/* line 1454, ../sass/style.scss */
#articles section {
  float: left;
}
/* line 1456, ../sass/style.scss */
#articles section ul {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
  list-style-type: none;
}
/* line 1461, ../sass/style.scss */
#articles section ul li {
  float: left;
  width: 340px;
  background: url("../img/icons.png") top left no-repeat;
  min-height: 40px;
  margin: 0 11px 60px 0;
}
/* line 1467, ../sass/style.scss */
#articles section ul li.billing {
  background-position: 0 -395px;
}
/* line 1470, ../sass/style.scss */
#articles section ul li.createsend {
  background-position: 0 -97px;
}
/* line 1473, ../sass/style.scss */
#articles section ul li.customize {
  background-position: 0 -498px;
}
/* line 1476, ../sass/style.scss */
#articles section ul li.clients {
  background-position: 0 -198px;
}
/* line 1479, ../sass/style.scss */
#articles section ul li.subscribers {
  background-position: 0 -595px;
}
/* line 1482, ../sass/style.scss */
#articles section ul li.templates {
  background-position: 0 -300px;
}
/* line 1485, ../sass/style.scss */
#articles section ul li.reports {
  background-position: 0 -700px;
}
/* line 1488, ../sass/style.scss */
#articles section ul li a {
  float: left;
  width: 275px;
  padding: 0 0 0 65px;
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
/* line 1495, ../sass/style.scss */
#articles section ul li a:hover h3 {
  color: #19a9e5;
}
/* line 1499, ../sass/style.scss */
#articles section ul li h3 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: #2f353e;
  font-size: 1.3em;
  margin: 0 0 9px 0;
}
/* line 1505, ../sass/style.scss */
#articles section ul li h3 span {
  font-family: Georgia;
  color: #19a9e5;
  font-size: 0.8em;
}
/* line 1514, ../sass/style.scss */
#articles aside {
  float: right;
  width: 215px;
}
/* line 1517, ../sass/style.scss */
#articles aside hgroup h1 {
  font-size: 17px;
  margin: 7px 0 6px 0;
}
/* line 1521, ../sass/style.scss */
#articles aside ul {
  float: left;
  margin-top: 5px;
}
/* line 1524, ../sass/style.scss */
#articles aside ul li {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
  color: #8e959c;
  line-height: 1.4em;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 1551, ../sass/style.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 1561, ../sass/style.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 1568, ../sass/style.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 1575, ../sass/style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 1585, ../sass/style.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* Hide visually and from screenreaders, but maintain layout */
/* line 1600, ../sass/style.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 1606, ../sass/style.scss */
.clearfix {
  *zoom: 1;
}
/* line 1607, ../sass/style.scss */
.clearfix:before {
  content: "";
  display: table;
}
/* line 1611, ../sass/style.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 1625, ../sass/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 1634, ../sass/style.scss */
  a {
    text-decoration: underline;
  }
  /* line 1636, ../sass/style.scss */
  a:visited {
    text-decoration: underline;
  }
  /* line 1639, ../sass/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 1643, ../sass/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 1646, ../sass/style.scss */
  .ir a:after {
    content: "";
  }

  /* line 1650, ../sass/style.scss */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 1655, ../sass/style.scss */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 1659, ../sass/style.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 1663, ../sass/style.scss */
  tr {
    page-break-inside: avoid;
  }

  /* line 1666, ../sass/style.scss */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 1674, ../sass/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 1678, ../sass/style.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
