/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #4ABCE4; color: #fff; text-shadow: none; }
::selection { background: #4ABCE4; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; text-decoration: none !important; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Manuel Rivera
   ========================================================================== */


 nav ul{
  margin: 0;
  font-size: 0px;
 }

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: white;
}

a:visited{
  color:white;
}

body {
  background: #E8EAEB url(../img/body-bg.png);
  border-bottom: 1px solid #fafafa;
}

#about_zhema{
  color: #bbbaba;
  font-size: 13px;
  text-align: justify;
  width: 250px;
}

#about_zhema a:link{
  color: #4ABCE4;
}

/* CUADRO DE BUSQUEDA */

#busq {
  background: transparent;
  padding-top: 40px;
 }


#searchurl {
  -webkit-transition: width 500ms linear, opacity 600ms linear;
  -moz-transition: width 500ms linear, opacity 600ms linear;
  -ms-transition: width 500ms linear, opacity 600ms linear;
  -o-transition: width 500ms linear, opacity 600ms linear;
  transition: width 500ms linear, opacity 600ms linear;
  background: -webkit-linear-gradient(90deg, #a93a0b, #f16529);
  background: -moz-linear-gradient(90deg, #a93a0b, #f16529);
  background: -o-linear-gradient(90deg, #a93a0b, #f16529);
  background: -ms-linear-gradient(90deg, #a93a0b, #f16529);
  background: linear-gradient(90deg, #a93a0b, #f16529);
  background-color: #a93a0b;
  display: inline-block;
  font-size: 0.8em;
  line-height: 2rem;
  height: 2rem;
  width: 0;
  opacity: 0;
  color: white;
  border-radius: 0 10em 10em 0;
  overflow: hidden;
  margin-left: -2em;
}

#searchurl.active {
  width: 7em;
  padding-left: 2em;
  opacity: 1;
  text-shadow: 1px 1px black;
}


#livesearch,
#searchurl {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

#livesearch {
  width: 50%;
  padding: 0 1em;
  height: 2rem;
  background: white;
  border-radius: 10em;
  border: 0;
  outline: none;
  color: black;
  z-index: 1;
  margin: 0;
  font-size: 14px;
  font-style: italic;
  color: gray;
}

#livesearch:focus {
  box-shadow: 0 0 0.5em #0080FF;
}

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* MENU */


 #menu ul  li{

  display: inline-block;
  height: 45px;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  vertical-align: top;
  width: 20%;
  text-transform: uppercase;
  /* transicion*/
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
 }

 #menu ul li a{
color: white;
font-family: Arial;

text-shadow:1px 1px 5px rgba(0,0,0,.5);

 }

 #menu ul li:hover{
  background-color:#4ABCE4;
 }

.bot{

  height: 150px;
}

#cont_menu{

  background: url(../img/bgbanner.jpg) repeat-x;
}

#logo{
background-color:rgb(47,53,62);
background: url(../img/background-public-body.png) repeat-x;
height: 100px;
}

/* 4 CIRCULOS */
#items{text-align:center;font-size:0;margin:auto;}
#items .item{
  background:#0670dd;
  display:inline-block;
  font-size:16px;
  width:25%;
  vertical-align:top;
  text-align: center;
}

#items .item h3{color:#fff;margin-bottom:10px}
#items .item img{margin-bottom:10px}
#items .item:hover img
{-o-animation-duration:.3s;
  -ms-animation-duration:.3s;
  -moz-animation-duration:.3s;
  -webkit-animation-duration:.3s;
  animation-duration:.3s;
  -o-animation-name:item;
  -ms-animation-name:item;
  -moz-animation-name:item;
  -webkit-animation-name:item;
  animation-name:item;
  -o-animation-iteration-count:5;
  -ms-animation-iteration-count:5;
  -moz-animation-iteration-count:5;
  -webkit-animation-iteration-count:5;
  animation-iteration-count:5}

#items .item .header{float:left;background:#0670dd;padding:10px;width:120px}

/**/
}@-moz-keyframes item{50%{-o-transform:translateY(10px);-ms-transform:translateY(10px);-moz-transform:translateY(10px);-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{-o-transform:translateY(0);-ms-transform:translateY(0);-moz-transform:translateY(0);-webkit-transform:translateY(0);transform:translateY(0)}
}@-webkit-keyframes item{50%{-o-transform:translateY(10px);-ms-transform:translateY(10px);-moz-transform:translateY(10px);-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{-o-transform:translateY(0);-ms-transform:translateY(0);-moz-transform:translateY(0);-webkit-transform:translateY(0);transform:translateY(0)}
}@-o-keyframes item{50%{-o-transform:translateY(10px);-ms-transform:translateY(10px);-moz-transform:translateY(10px);-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{-o-transform:translateY(0);-ms-transform:translateY(0);-moz-transform:translateY(0);-webkit-transform:translateY(0);transform:translateY(0)}
}@-ms-keyframes item{50%{-o-transform:translateY(10px);-ms-transform:translateY(10px);-moz-transform:translateY(10px);-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{-o-transform:translateY(0);-ms-transform:translateY(0);-moz-transform:translateY(0);-webkit-transform:translateY(0);transform:translateY(0)}
}@keyframes item{50%{-o-transform:translateY(10px);-ms-transform:translateY(10px);-moz-transform:translateY(10px);-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{-o-transform:translateY(0);-ms-transform:translateY(0);-moz-transform:translateY(0);-webkit-transform:translateY(0);transform:translateY(0)}
}


/*  CONTENIDO */

#barra_contenido{
  color:#666666;
  font-family: Verdana, Arial;
  font-size:12px;
  background-color: white;
}
#slide{
 height: 317px;
 margin-top: 20px;
}

#barra_derecha{
/* background: url(../img/minicontact_bg.png);*/
 height: 317px;
 margin-top: 20px;
}

.barra_d h3{
  color:#383838 ;
  font-family: 'Helvetica', arial, serif;
  font-size: 24px;
  margin: 0;
  padding-bottom: 0px;
  text-align: center;

}

#barra_derecha span{
  color: white;
  padding: 20px 0 0 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

/* CONTACTO PEQUENO*/

#mini_contact{
  display: inline-block;
  text-align: center;

}

#mini_contact div{
  height: 60px;
}

#mini_contact #dnombre{
  background-color:#f4faff;
}

#mini_contact #dnumero{
  background-color:#c5e2ff;
}

#mini_contact #demail{
  background-color:#82befa;
}

#mini_contact #despacio{
  background-color:#61aade;
}

#mini_contact input{
 height: 30px;
 width: 150px;
 margin-top: 10px;
 padding-left: 10px;
-khtml-border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 border: 3px solid #FFF;
  outline: 0;
/* transiciones*/
-o-transition: .3s;
-ms-transition: .3s;
-moz-transition: .3s;
-webkit-transition: .3s;
transition: .3s;
}


#mini_contact input:focus{
  border-color:#0080FF;
}


#button_contact{
  background-color: #b9dc2f;
  color: #ffffff;
  float: right;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  padding: 0px 5px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px #679b1f;

 }

#button_contact a{
  color: white;


}


#barra_nosotros{
  height: 184px;
  margin-top: 20px;
  text-align: justify;
}

/* LOGOS DE ZHEMA EXPLICACION */

#barra_somos{

 height: 184px;
  margin-top: 20px;
}



#barra_somos .tabs dd a{

padding: 0;
/* transiciones*/
-o-transition: .3s;
-ms-transition: .3s;
-moz-transition: .s;
-webkit-transition: .3s;
transition: .3s;

}




#barra_clientes{
 height: 184px;
margin-top: 50px;
}



#barra_abajo{
  margin-top: 10px;
  height:205px;
  background-color:#222426;
}

#barra_sociales{
  height:49px;
  background-color:#222426;
}



/* MENU DE ABAJO */

#menu_inf{
  padding-top: 20px;
}
 #menu_inf ul  li{
  background: url(../img/footer-bullet.png) no-repeat 0px 10px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #4a4a4a;
  color: white;
  height: 25px;
  font-size: 13px;
  padding-top: 2px;
  padding-left: 20px;
  text-align: left;
  vertical-align: top;

    /* transicion*/
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
 }

#menu_inf ul  li:first-child{ border-top: none; }

#menu_inf ul  li:last-child{ border-bottom: none; }


 #menu_inf ul li a{
    color: #bbbaba;
    font-family: Arial;
    font-weight: bold;
 }

 #menu_inf ul li:hover{
    padding-left: 25px;
 }



 /* TEXTO DE ABAJO*/

#bottom-text{
    font-size: 13px;
    color: #bbbaba;
}

#bottom-text a{
  color: #AFEAF9;
  text-decoration: none;
}



#barra_nosotros p{
padding-left: 10px;
padding-right: 10px;

}

#barra_nosotros .submit{
  float: right;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
  color: white;
  padding: 0px 20px;
  margin-right: 10px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: url(../img/button_back.png) top left repeat-x ;
  text-shadow: 1px 1px #62685E;

}


.box_titulo h3{

  color: white;
  padding-left: 10px;
  font-family: 'Signika', sans-serif;
  font-size: 18px;
  height: 40px;
  margin-top:0px;
  line-height:23px;
  padding-top: 10px;
  text-transform: uppercase;

}

#barra_nosotros .box_titulo{
  background-color: #4ABCE4;
}

#barra_somos .box_titulo{
  background-color: rgb(130,192,40);
}


/*  CONTACTO*/
/* ================================================================*/

#contactForm input[type=text],
#contactForm textarea,
#commentform input[type=text],
#commentform textarea{
  padding: 10px 15px;

  border: 3px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
/* transiciones*/
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
  outline: 0;
}

#contactForm input[type=button]{
  padding: 10px 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#contactForm input:focus, #contactForm textarea:focus {
  border-color: #0080FF;

}

#page-title{
  overflow: hidden;
  height: 103px;
  margin-bottom: 0px;
  background:  url(../img/tabs-divider.png) repeat-x bottom center;
  text-shadow: 1px 1px rgba(255, 255, 255, 1);
}


.title{
  display: block;
  float: left;
  font-family:'Signika', sans-serif;
  font-size: 30px;
  line-height: 103px;
  margin-left: 30px;
  text-transform: uppercase;
}

#page-title .subtitle{
  display: block;
  float: left;
  margin-left: 30px;
  font-size: 16px;
  margin-top: 4px;
  line-height: 103px;
  color: #929191;
  font-style: italic;

}

#contactForm input,
#contactForm textarea,
#commentform input,
#commentform textarea{
  color: #606060;
  font-size: 14px;
  width: 380px;
  display: block;
}

#contactForm input{
   width: 282px;
}

#contactForm input[type=button].submit{
  width: 100px;
  color: white;
  float: right;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0px 20px;
  margin-right: 2 0px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: url(../img/button_back.png) top left repeat-x;
  text-shadow: 1px 1px #62685E;

}

#contactForm textarea{
  width: 380px;
}

.one-column{
  vertical-align: top;
  width: 438px;
  float: left;
  margin-left: 30px;
  text-align: justify;
  }

.one-column span{
  text-align: justify;
}

.one-column a:link{
   color: #4ABCE4;
   font-size: 16px;
   font-style: italic;
}

.one-column strong{
color: #19a9e5;
}

/* SERVICIOS */

.panes .blocks-thumbs{
  overflow: hidden;
  padding-top: 30px;

}



.panes .blocks-thumbs li{
  float: left;
  margin-bottom: 20px;
  list-style-type: none;
}

#content .panes .blocks-thumbs li .header{
  display: block;
  font-family: 'Signika', arial, serif;
  font-size: 20px;
  line-height: 1.4em;
  margin-bottom: 10px;
  text-decoration: none;
   color: #2f3235;
  border-bottom: 1px solid #c4c7c8;
  padding-bottom: 10px;
}


#content .panes .blocks-thumbs .excerpt{
  float: left;
  width: 250px;
  padding-left: 20px;
  text-align: justify;
  margin-right: 0;
  padding-right: 0;
}

#content .panes .blocks-thumbs .link-button{
  display: block;
  color:#29C5F1;
}


.blocks-thumbs li a.thumb{
  display: block;
  overflow: hidden;
  width: 282px;
  height: 150px;
  margin-bottom: 20px;
  background: url(../img/plus-sign.png) no-repeat center center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: left;
}

/* LISTA DE BENEFICIOS */

#barra_ben img{
padding: 40px 0;
}


#barra_ben #caption1{
background: url(../img/caption_bg1.png);
width: 245px;
height: 52px;
}

#barra_ben #subcaption1{
background: url(../img/bg-article-arrow-up.png) no-repeat;
width: 245px;
height: 20px;
}

#list_beneficios li{
  font-size: 15px;
  background: url(../img/check.png) no-repeat;
  padding-left: 20px;
  list-style-type: none;
  margin-top: 5px;
  padding-top: -10px;
}




/* SOPORTE  */


/* ================================================================*/

#articles section,
#articles aside {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;

}
#articles section hgroup,
#articles aside hgroup {
  padding: 0 40px;
  margin:  0;
  width: 100%;
  height: 90px;
   font-family: 'Signika', arial, serif;
  font-size: 20px;
  line-height: 1.4em;
}
#articles section hgroup h2,
#articles aside hgroup h2 {
  clear: both;
  width: 100%;

}
#articles section hgroup h2,
#articles aside hgroup h2 {
  font-family: "Ububtu", "Helvetica Neue", Arial, sans-serif;
  font-size-adjust: 0.48;
  font-weight: 200;
  font-style: italic;
  font-size: 18px;
  line-height: 5px;
}
#articles section {
  float: left;
  width: 705px;
}
#articles section hgroup {
  width: 675px;
}
#articles section hgroup h1 {
  font-size: 30px;
  margin: 20px 0 5px 0;
}
#articles section ul {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
  list-style-type: none;
}
#articles section ul li {
  float: left;
  width: 340px;
  background: url('../img/icons.png') top left no-repeat;
  min-height: 40px;
  margin: 0 11px 60px 0;
}
#articles section ul li.billing {
  background-position: 0 -395px;
}
#articles section ul li.createsend {
  background-position: 0 -97px;
}
#articles section ul li.customize {
  background-position: 0 -498px;
}
#articles section ul li.clients {
  background-position: 0 -198px;
}
#articles section ul li.subscribers {
  background-position: 0 -595px;
}
#articles section ul li.templates {
  background-position: 0 -300px;
}
#articles section ul li.reports {
  background-position: 0 -700px;
}
#articles section ul li a {
  float: left;
  width: 275px;
  padding: 0 0 0 65px;
  color: gray;
  text-decoration: none;
  cursor: pointer;

}
#articles section ul li a:hover h3 {
  color: #19a9e5;

}
#articles section ul li h3 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: #2f353e;
  font-size: 1.3em;
  margin: 0 0 9px 0;
}
#articles section ul li h3 span {
  font-family: Georgia;
  color: #19a9e5;
  font-size: 0.8em;
}
#articles aside {
  float: right;
  width: 215px;
}
#articles aside hgroup h1 {
  font-size: 17px;
  margin: 7px 0 6px 0;
}
#articles aside ul {
  float: left;
  margin-top: 5px;
}
#articles aside ul li {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
  color: #8e959c;
  line-height: 1.4em;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
