.container {
  display: block;
  margin: 0px auto;
}

#iview {
  display: block;
  max-width: 700px;
  min-width: 317px;
  padding: 1px;
  border-radius: 5px;
  position: relative;
  /* 	-webkit-box-shadow: 0 18px 30px -18px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 18px 30px -18px rgba(0, 0, 0, 0.5);
  box-shadow: 0 18px 30px -18px rgba(0, 0, 0, 0.5); */
  margin: auto;
  overflow: hidden;
  .iviewSlider {
    display: block;
    width: 700px;
    height: 317px;
    overflow: hidden;
    border-radius: 4px;
  }
  div.iview-directionNav {
    position: absolute;
    top: 47%;
    left: 0px;
    z-index: 9;
    width: 100%;
    a {
      display: block;
      cursor: pointer;
      position: absolute;
      width: 27px;
      height: 27px;
      background-image: url(../../img/bg_direction_nav.png);
      text-indent: -9999px;
      -webkit-transition: left 0.3s ease-in-out;
      -webkit-transition-property: left,right;
      -moz-transition: left 0.3s ease-in-out;
      -moz-transition-property: left,right;
      -o-transition: left 0.3s ease-in-out;
      -o-transition-property: left,right;
      -ms-transition: left 0.3s ease-in-out;
      -ms-transition-property: left,right;
      transition: left 0.3s ease-in-out;
      transition-property: left,right;
      &.iview-nextNav {
        right: -27px;
        background-position: 27px 0px;
      }
      &.iview-prevNav {
        left: -27px;
        background-position: 0px 0px;
      }
    }
  }
  &.iview-hover div.iview-directionNav a {
    &.iview-nextNav {
      right: 20px;
    }
    &.iview-prevNav {
      left: 20px;
    }
  }
}

.iview-caption {
  background: url('../../img/caption-bg.png');
  color: #FFF;
  border-radius: 3px;
  padding: 10px 15px;
  font-family: Verdana;
  font-size: 12px;
  text-shadow: black 1px 1px 0px;
  &.caption1 {
    background-color: rgba(18, 163, 218, 0.5);
    text-shadow: none;
  }
  &.caption2 {
    color: #FFF;
    text-shadow: none;
  }
  &.caption3 {
    background: rgba(242, 70, 100, 0.8);
    text-shadow: none;
    width: 450px;
  }
  &.caption4 {
    background: rgba(251, 161, 4, 0.3);
    text-shadow: none;
    width: 450px;
    background: #c4302b;
    text-shadow: none;
  }
}

#iview-preloader {
  border: #666666 1px solid;
  width: 150px;
  div {
    background: #666;
  }
}

#iview-timer {
  border-radius: 10px;
  div {
    border-radius: 10px;
  }
}
